.selectus
   position: relative
   font: 12px / 1.3 Trebuchet MS, Ubuntu, sans-serif;
   color: #383c40
   *
      box-sizing border-box
   &_dropdown-open
      .selectus
         &__
            &dropdown
               opacity 1
            &current-type
               &:before
                  transform: rotate(180deg)
   &_many-selected-items
      .selectus
         &__
            &selected-items
               height: 30px;
               position: relative
               overflow: hidden;
               margin-right: 10px;
               &:after
                  width: 20px
                  position: absolute
                  top: 0
                  right: 0
                  bottom: 0
                  background-image: linear-gradient(to right, transparent, #fff);
                  content: ''
            &expand
               display inline-block
            &collapse
               display none
      &_expand
         .selectus
            &__
               &selected-items
                  height: auto
                  flex-wrap: wrap
                  &:after
                     content none
               &expand
                  display none
               &collapse
                  display inline-block
   &__
      &brief
         min-height: 30px;
         display: flex
         align-items: center;
      &current
         margin 0
         white-space: nowrap;
         &-type
            position: relative
            padding-left: 20px;
            color: #6287a6
            &:before
               width: 14px
               height: @width
               position: absolute;
               top: 50%
               left: 0
               margin-top: -((@width + 2) / 2)
               font: bold 14px \/ @width FontAwesome;
               text-align: center
               content: '\f106';
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale
               transition: transform .15s ease-out;
      &selected
         &-items
            display: flex
            padding-left: 5px;
         &-item
            max-width: 200px;
            position: relative
            overflow: hidden;
            margin: 2px 4px;
            padding: 0 22px 0 10px;
            border: 1px solid #cacdd0
            background-color: #f8f8f8
            border-radius: 2px;
            line-height: 24px
            white-space: nowrap;
            text-overflow: ellipsis;
            &-remove
               width: 14px
               height: @width
               position: absolute
               top: 50%
               right: 4px
               margin-top: -((@width + 2) / 2)
               line-height: @width
               text-align: center
               color: #cacdd0
               cursor: pointer
      &expand, &collapse
         display: none
         border-bottom: 1px dotted #383c40
         text-decoration: none
         color: #383c40
         &_active
            display: inline
      &dropdown
         min-width: 200px
         position: absolute
         top: 35px;
         left: 0
         background-color: #fff;
         border: 1px solid #cacdd0;
         box-shadow: 1px 0 10px rgba(107, 116, 117, 0.25);
         opacity: 0
         transition: opacity .15s ease-out;
      &head
         display: flex
         padding-top: 5px
         background-color: #f4f4f4
         font-size: 14px
         font-weight: bold
         line-height: 36px
         white-space nowrap
      &title
         margin: 0 0 2px 15px
         max-width: 150px
         overflow: hidden
         font-size: 14px;
         text-overflow: ellipsis
      &tabs
         display: flex
         margin: 0 5px
      &tab
         margin: 0 10px;
         padding: 0 2px
         text-decoration: none
         border-bottom: 2px solid transparent
         color: #383c40
         transition: opacity .15s ease-out, border-bottom-color .15s ease-out;
         &_selected
            color: #53a87d
            border-bottom-color #53a87d
      &search
         position: relative
         margin-top: 8px;
         &:before
            width: 16px
            height: @width
            position: absolute
            top: 50%
            right: 12px;
            margin-top: -((@width + 2) / 2)
            font-size: 13px;
            font: normal 14px \/ @width FontAwesome;
            text-align: center
            content: '\f002';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
         &-input
            width: 100%;
            height: 30px
            display: block
            padding: 0 30px 0 5px;
            border: 1px solid #dbdddf;
            border-radius: 2px;
         + .selectus__items
            margin-top: 10px;
            padding-top: 0;
      &lists
         position: relative
      &list
         width: 100%
         position: absolute
         top: 0
         left: 0
         padding: 0 16px
         opacity: 0
         transition: opacity .15s ease-out;
         &_selected
            position: static
            opacity: 1
      &items
         max-height: 310px
         overflow-y: auto
         display: flex
         flex-direction column
         align-items: flex-start
         margin-right: -16px;
         padding: 10px 16px 10px 0
      &item
         position: relative
         margin: 6px 0
         padding: 2px 0 2px 25px;
         line-height: 15px;
         cursor: pointer
         &:before
            width: 16px
            height: @width
            position: absolute
            left: 0
            top: 50%
            margin-top: -((@width + 2) / 2)
            border: 1px solid #d4d7d9
            font: normal 14px \/ @width FontAwesome;
            text-align: center
            color: #3f8964
            content: '';
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
         &_selected
            &:before
               content: '\f00c'
      &loader
         position: absolute
         top: 50%
         left: 50%
         &-wrap
            position: relative